<header id="header" class="site-header">
	<div class="site-header-main-wrapper clearfix">
	   <div class="container siteheader-container">
	      <div class="flex-col flex-basis-auto">
	         <div class="flex-row site-header-row site-header-main">
	            <!-- left column - logo -->
	            <div class="flex-col flex flex-start-x flex-center-y flex-basis-auto flex-grow-0 site-header-col-left">
	               <div id="logo-container">
	                  <div class="site-logo">
	                     <a href="index.html" class="site-logo-anch">
	                     <img class="logo-img site-logo-img" src="/images/logo_air_france.svg" width="196" height="36">
	                     </a>
	                  </div>
	               </div>
	            </div>
	            <!-- center column -->
	            <div class="flex-col flex flex-center-x flex-center-y flex-basis-auto flex-grow-0 site-header-col-center site-header-main-center">
	            </div>
	            <!-- right column - navigation menu -->
	            <div class="flex-col flex flex-end-x flex-center-y flex-basis-auto site-header-col-right site-header-main-right">
	               <div class="main-menu-wrapper">
	                  <a href="tel:+9714-421-4988" class="sh-component btn-fullwhite ">
	                  <i class="fa fa-phone" aria-hidden="true"></i>
	                  <span> 3654 <small> (0.35 € TTC/min + prix appel)</small></span>
	                  </a>
	                  <div class="sh-component menu-wrapper">
	                     <a href="index.html#" class="sh__hamburger-trigger">
	                     <span></span>
	                     <span></span>
	                     <span></span>
	                     </a>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
</header>